<?xml version="1.0" encoding="utf-8"?>
<!--
    This is a basic template for the web.xml to setup quartz scheduler when the servlet
    engine is starting.
-->
<web-app>
    <context-param>
        <param-name>quartz:config-file</param-name>
        <param-value>quartz/quartz.properties</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:shutdown-on-unload</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:wait-on-shutdown</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:start-on-load</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.quartz.ee.servlet.QuartzInitializerListener
        </listener-class>
    </listener>
</web-app>